name: Update MLFlow version
on:
  schedule:
    - cron:  '0 10 * * *'
jobs:
  updateMlflow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get Latest MLFlow release
        id: mlflow-release
        run: |
          echo ::set-output name=release_tag::$(curl -sL https://api.github.com/repos/mlflow/mlflow/releases/latest | jq -r ".tag_name" | sed 's/v//g')
          echo ::set-output name=current_tag::$(<mlflow-image/mlflow_version)
      - name: Update MLFlow version file
        if: steps.mlflow-release.outputs.current_tag != steps.mlflow-release.outputs.release_tag
        env:
          RELEASE_TAG: ${{ steps.mlflow-release.outputs.release_tag }}
        run: |
          echo $RELEASE_TAG > mlflow-image/mlflow_version
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: Update mlflow to ${{ steps.mlflow-release.outputs.release_tag }}
          title: Update MLFlow to ${{ steps.mlflow-release.outputs.release_tag }}
          body: |
            Updates [MLFlow][1] to ${{ steps.mlflow-release.outputs.release_tag }}

            Auto-generated by [create-pull-request][2]

            [1]: https://github.com/mlflow/mlflow
            [2]: https://github.com/peter-evans/create-pull-request
          labels: dependencies, automated pr
          branch: mlflow-releases
          reviewers: kplauritzen,kaqmak,nybyhansen,pacanada
